<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QA Status</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6cff">  <td>17/07/28 19:34:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DailyStatus.beforeClass(org.testng.ITestContext)[pri:0, instance:testPackage.DailyStatus@20e2cbe0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/07/28 19:34:07</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DailyStatus.MainFunction()[pri:0, instance:testPackage.DailyStatus@20e2cbe0]">MainFunction</td> 
  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/07/28 19:34:11</td>   <td>4159</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DailyStatus.afterClass()[pri:0, instance:testPackage.DailyStatus@20e2cbe0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1620303253</td>   <td></td> </tr>
</table>
